[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend_pgsql,
       sumo_backend_pgsql,
       [{host, "127.0.0.1"},
        {port, 5432},
        {database, "sumo_test"},
        {username, "root"},
        {password, "pass"}]
      }]
    },
    {stores,
     [{sumo_test_pgsql,
       sumo_store_pgsql,
       [{storage_backend, sumo_test_backend_pgsql},
        {workers, 10}]
      }]
    },
    {docs, [{sumo_test_people_pgsql, sumo_test_pgsql}]},
    {events, [{sumo_test_people_pgsql, sumo_test_people_pgsql_events_manager}]}
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].
